{% extends 'doacoes/base.html' %}

{% block title %}Lista de Doações{% endblock %}

{% block content %}
    <div class="list-container">
        <h1>Lista de Doações</h1>

        <a href="{% url 'adicionar_doacao' %}" class="btn-link">Adicionar Doação</a>

        {% if doacoes %}
            <ul class="doacoes-list">
                {% for doacao in doacoes %}
                    <li class="doacao-item">
                        <strong>{{ doacao.nome_doador }}</strong> doou 
                        <strong>{{ doacao.quantidade }}</strong> - 
                        {{ doacao.descricao }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há doações cadastradas.</p>
        {% endif %}
    </div>
{% endblock %}
