{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-wrapper">
    <div class="login-container">
        
        <h2>Entrar</h2>
        
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Entrar</button>
        </form>
</div>
</div>
    </div>
</body>
</html>
